.contact {
  background-color: rgb(24, 28, 39);
  padding: 36px 0;

  &__starter {
    color: rgb(255, 255, 255);
    font-size: 16px;
    line-height: 20px;
    font-weight: 900;
    display: block;
    text-align: left;
    padding-bottom: 28px;
    letter-spacing: -0.64px;
  }

  &__text {
    color: rgb(255, 255, 255);
    font-weight: 900;
    text-align: left;
    font-size: 14px;
    line-height: 22px;
    padding-bottom: 28px;
    letter-spacing: -0.56px;

    &::before {
      display: block;
      content: '';
      width: 62px;
      height: 4px;
      background-color: $blue-color;
      margin-bottom: 16px;
    }

    &-inner {
      color: #c0c2c4
    }
  }


  &__title {
    @extend %title;
    font-size: 20px;
    line-height: 30px;
    font-weight: 800;
    color: $blue-color;
    padding-bottom: 25px;
    letter-spacing: -0.8px;
    text-align: left;


    &::before {
      color: $blue-color;
      padding-right: 10px;
    }

    &::after {
      color: $blue-color;
    }
  }

  &__button {
    width: 260px;
    padding: 28px 0;
    background-color: $orange;
    font-size: 14px;
    line-height: 1.2;
    color: #ffffff;
    box-shadow: 0px 2px 10px 0px rgba(255, 107, 8, 0.59);
    font-weight: 700;
    border: solid 2px transparent;
    
    &:hover{
      background-color: #fff;
      color: $orange;
      border: solid 2px $orange;
    }
  }
}

@media (min-width: 768px) {
  .contact {
    padding: 60px 0;


    &__starter {
      font-size: 22px;
    }

    &__box {
      padding-left: 45px;
    }

    &__text {
      width: 332px;


      &-inner {
        font-weight: 400;
      }
    }

    &__title {
      font-size: 40px;
      line-height: 50px;
    }

    &__button {
      display: block;
      width: 530px;
      font-size: 18px;
      line-height: 1.2;
      font-weight: 700;
    }
  }
}

@media (min-width: 1200px) {
  .contact {
    padding: 100px 0;

    &__box {
      padding: 0;
    }

    &__desk {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      padding: 0 16px;
    }

    &__starter {
      width: 683px;
      font-size: 30px;
      line-height: 35px;
      padding-bottom: 68px;
      padding-left: 16px;
    }

    &__text {
      font-size: 18px;
      line-height: 28px;


      &::before {
        height: 2px;
      }
    }

    &__title {
      width: 730px;
      font-size: 48px;
      line-height: 1.2;
      padding-bottom: 68px;
    }

    &__button {
      width: 683px;
      font-size: 30px;
      padding: 40px 0;
    }
  }
}
