.header {
  background-color: rgb(24, 28, 39);
  color: #ffffff;
  font-size: 14px;
  text-align: left;
  padding-top: 24px;
  padding-bottom: 28px;

  &__info,
  &__desc {
    line-height: 18px;
    letter-spacing: -0.56px;
    margin-bottom: 22px;
  }

  &__tittle {
    color: $blue-color;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.8px;
    font-weight: 900;
    margin-bottom: 22px;
  }

  &__conf {
    color: #5d6066;
    margin: 0 auto;
    text-align: center;
  }

  @media (min-width: 768px) {
    &__info {
      line-height: 18px;
      margin-bottom: 34px;
      white-space: pre-line;
    }

    &__tittle {
      font-size: 40px;
      line-height: 50px;
      letter-spacing: -1.6px;
      margin-bottom: 32px;
      white-space: pre-line;
    }

    &__desc {
      font-size: 18px;
      line-height: 26px;
      margin-bottom: 20px;
      white-space: pre-line;
    }
  }
}

@media (min-width: 768px) {
  .header {
    padding-top: 40px;
    padding-bottom: 36px;
  }
}

.logo {
  margin-bottom: 24px;

  @media (min-width: 768px) {
    margin-bottom: 28px;
  }
}

.meeting-info {
  &__desc {
    color: $yellow-color;
    letter-spacing: -0.56px;
    margin-bottom: 10px;
  }

  &__date {
    font-weight: 900;
    color: $yellow-color;
    margin-bottom: 16px;
  }

  @media (min-width: 768px) {
    &__desc {
      font-size: 18px;
      letter-spacing: -0.72px;
    }

    &__date {
      font-size: 40px;
      margin-bottom: 20px;
    }
  }
}

.contact-us {
  padding: 20px;
  background-color: #ffffff;
  color: $main-color;
  box-shadow: 0px 12px 70px 0px rgba(121, 139, 188, 0.48);
  margin-bottom: 12px;

  &__tittle {
    line-height: 20px;
    font-weight: 900;
    font-size: 16px;
    margin-bottom: 12px;
    white-space: pre-line;
  }

  &__desc {
    font-weight: 300;
    margin-bottom: 14px;
    font-size: 13px;
  }

  @media (min-width: 768px) {
    &__tittle {
    font-size: 24px;
    line-height: 28px;
    }

    &__desc {
      line-height: 20px;
      margin-bottom: 22px;
    }
  }
}

@media (min-width: 768px) {
  .contact-us {
    text-align: center;
    padding-left: 76px 40px;
  }
}

.contact-btn {
  width: 220px;
  padding: 14px 0px;
  text-transform: uppercase;
  background-color: $orange;
  font-size: 16px;
  font-weight: 900;
  color: #FFFFFF;
  box-shadow: 0px 2px 10px 0px rgba(255, 107, 8, 0.59);
}

@media (min-width: 768px) {
  .contact-btn {
    width: 504px;
    letter-spacing: 0.32px;
    padding: 14px 0px;
  }
}

.contact-form__input {
  width: 186px;
  border: none;
  padding: 16px;
  border: solid 1px #717171;

  &:not(:last-child) {
    margin-bottom: 12px;
  }

  &:last-child {
    margin-bottom: 28px;
  }

  &::placeholder {
    color: #a2a2a2;
    font-size: 14px;
    font-weight: 600;
  }

  &:required:focus:valid {
    outline: 2px solid #08f308;
  }

  &:required:focus:invalid {
    outline: 2px solid #ff0000;
  }

  &:focus {
    outline-offset: -1px;
  }
}

@media (min-width: 768px) {
  .contact-form__input {
    width: 470px;
  }
}