*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
}

button {
  border: none;
  background-color: transparent;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: $main-font;
  font-weight: 400;
  text-align: center;
  color: $main-color;
}

.container {
  width: 260px;
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 748px;
  }

  @media (min-width: 1200px) {
    width: 1200px;
  }
}

.section {
  padding: 26px 0;
}
